<article>
  
  <section id='main'>
  <h1>This section is abot MEH</h1>
   <p>
      New paragrah here sajndkjsnf
   </p>

  <p>
    Blah blah blah MEH 
  </p>
  
  </section>


  <section id="sidebar">
    <h1>This section is about BLAH</h1>
    <p>
    Blah blah blah MEH  dsfjkbdsjfsdbhfbdslj
   </p>
  
  </section>

</article>
