// Place all the styles related to the AaaCore controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "site-branding";
@import "popout";

article#shop {
  padding-left: 20px;
  section {
   @include popout;
    margin-left: 20px;
    margin-right: 100px;
    padding: 20px;
    background-color: #2EBB2E;
      h1, h2 {
        color: $white;
        font-size: 20px
      }
   }
}

article#shop section:nth-child(even) {
  background-color: #50b450;

}
